@import url("colors.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height:100vh;
  position: relative;
}
body:before{
  content:'';
  height:100%;
  width:10%;
  position: absolute;
  z-index: -1;
}

#menu{
  width:auto;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 9;
  bottom:100%;
  transition: .5s;
  font-size:.9em;
  right:0;
}

#menu.acik{
  top:100%;
}

#menuDuzen{
  max-width: 800px;
  width:100%;
  padding:0 1rem 1rem;
}

#menu ul{
  background: #fff;
  box-shadow: 1rem 1rem skyblue;
  border:1px solid #000;
  border-bottom:0;
}

#menu li{
  list-style: none;
  padding:1em 1.5em;
  border-bottom:1px solid #000
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

#headerduzen {
  display: flex;
  justify-content: space-between;
  padding:1em 2em;
  align-items: center;
  max-width: 800px;
  width: 100%;
  position: relative;
}

#logo {
  font-size: 2em;
  font-weight: 800;
 /* text-shadow: 0.1em 0.1em skyblue; */
  padding:.1em .2em;
}

#theme{
  display: flex;
  gap:.5em;
}

#theme button {
  border-left:0;
  border-top:0;
  cursor: pointer;
  font-size: 1.25em;
  padding: .75rem;
  border-radius: 10px;
}

#theme button:active,body.dark #theme button:active{
  border:0;
  margin:4px 0 0 5px;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

#kutu {
  width: 100%;
}

#kutu form {
  display: flex;
  width: 100%;
}

#kutu form input {
  width: 100%;
  padding: 1em;
}

#kutu form button {
  padding: 1em 2em;
  border: 0;
  font-weight: 600;
}

#total {
  padding:.8em;
  font-size:.8em;
  opacity: .5;
}

.listItem {
  display: flex;
  width: 100%;
  font-size:.9em;
}

.listItem.completed .not{
  text-decoration:line-through;
}

.tmm {
  padding: 1em;
  cursor: pointer;
  font-size:1em;
  border:0;
  flex:auto
}

.not {
  width: 100%;
  padding: 1em;
}

.sil {
  padding: 1em;
  cursor: pointer;
  font-size:1em;
  border:0;
  flex:auto
}

#filters{
  width: 100%;
  display: flex;
  justify-content: center;
  padding:1.2em 1em;
}

#filters button{
  padding:.75em 1.25em;
  border:0;
  cursor:pointer;
}

#filters button.selected{
  font-weight: bolder;
}

footer {
  width: 100%;
  padding: 2em 1em;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

footer a:focus,
footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  #list,
  #kutu,#menu ul {
    box-shadow: 0.5rem 0.5rem skyblue;
  }

  #headerduzen {
    padding: 1em;
  }
}
