body{
    background:repeating-linear-gradient(white 0 30px,#ddd 30px 31px);
}

body:before{
    border-right:1px solid red;
}

#logo{
    box-shadow: .15em .15em skyblue;
    background: #fff;
    border:3px solid #000;  
}

#theme button{
    background: linear-gradient(145deg, #dcdcdc, #ffffff);
    border-right:5px solid #dcdcdc;
    border-bottom:4px solid #dcdcdc;  
}

#kutu{
    box-shadow: 1em 1em skyblue;
}

#kutu input{
    background: #fff;
    border: 1px solid #000;  
}

#kutu button{
    background: black;
    color: #fff;
}

#list{
    border: 1px solid #000;
    box-shadow: 1em 1em skyblue;  
}

.listItem:not(:last-child) {
    border-bottom: 1px solid #000;
}

.listItem.completed .tmm{
    color: rgb(55, 170, 2);
    background: #fff;
}

.tmm{
    background: #000;
    color: #fff;  
}

.listItem.completed .not{
    color:#bbb
}

.not{
    background: #fff;
}

.sil{
    background: #fff;
    color:rgb(245, 0, 0);
}

footer a{
    color: #000;
    text-shadow: 0.1em 0.1em skyblue;
}

#buttons{
    box-shadow: .5em .5em skyblue;
    border:1px solid #000;
}

#filters button{
    background: #000;
    color:#fff;
}

#filters button.selected{
    background: #fff;
    color:#000
}

body.dark{
    background:#000;
    color:rgb(212, 212, 212)
}

body.dark:before{
    border-right-color:transparent;
}

body.dark #logo{
    box-shadow: .15em .15em rgb(74, 108, 121);
    background: rgb(0, 0, 0);
    border:3px solid rgb(212,212,212);
}

body.dark #theme button{
    background: linear-gradient(145deg, #343434, #535353);
    border-right:5px solid #343434;
    border-bottom:4px solid #343434;  
    color:inherit;
}

body.dark #kutu{
    box-shadow: 1em 1em rgb(74, 108, 121);
}

body.dark #kutu input{
    background: #000;
    border: 1px solid #343434;  
}

body.dark #kutu button{
    background: linear-gradient(145deg, #343434, #535353);
    color:rgb(212, 212, 212)
}

body.dark #list{
    border: 1px solid #535353;
    box-shadow: 1em 1em rgb(74, 108, 121);  
}

body.dark .listItem:not(:last-child) {
    border-bottom: 1px solid #535353;
  }

body.dark .listItem.completed .tmm{
    background: #000;
}

body.dark .tmm{
    background:linear-gradient(145deg, #343434, #535353);
    color: rgb(212, 212, 212);  
}

body.dark .listItem.completed .not{
    color:#343434
}

body.dark .not{
    background: #000;
}

body.dark .sil{
  /*  background: rgb(122, 11, 48);
    color:rgb(212, 212, 212); */
    background: #000;
    color:rgb(237, 127, 163)
}

body.dark footer a{
    color: rgb(212, 212, 212);
    text-shadow: 0.1em 0.1em rgb(74, 108, 121);
}

body.dark #buttons{
    background:linear-gradient(315deg, #343434, #535353);
    box-shadow: .5em .5em rgb(74, 108, 121);
    border:1px solid #000;
}

body.dark #filters button{
    background:transparent;
    color:rgb(212, 212, 212);
}

body.dark #filters button.selected{
    background:linear-gradient(135deg,#4ec,#228);
    color:rgb(212, 212, 212);
}

body.dark #menu ul{
    background: #000;
    border-color:#343434;
    box-shadow: 1rem 1rem rgb(74, 108, 121);
}

body.dark #menu li{
    border-color:#343434
}

@media screen and (max-width:600px) {
    body.dark #kutu,body.dark #list,#menu ul{
        box-shadow: 0.5em 0.5em rgb(74, 108, 121);
    }

    body.dark #menu ul{
        box-shadow: .5em .5em rgb(74, 108, 121);
    }
}
